<% include ../partials/header %>
        <div class="container">
            <h1 style="text-align: center;">Edit Campground</h1>
            <div style="width: 30%; margin: 25px auto;">
                <form action="/campgrounds/<%= camp._id %>?_method=PUT" method="POST">
                    <div class="form-group"> <!-- To provide spacing btwn diff. parts of the Form -->
                        <input class="form-control" type="text" name="campground[name]" value="<%= camp.name %>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="campground[image]" value="<%= camp.image %>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="campground[description]" value="<%= camp.description %>">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Update</button> <!-- btn-block is used to make button size equal to the size of the input regions specified -->
                    </div>
                </form>
                <a href="/campgrounds">Go Back!</a>
            </div>
        </div>
<% include ../partials/footer %>