<% include partials/header %>
        
<h1>Welcome to YelpCamp</h1>
<p>This is the YelpCamp landing page</p>
<div>
    <a href="/campgrounds" class="btn btn-default">View all Campgrounds!</a>
</div>
<div>
    <a href="/campgrounds/new" class="btn btn-default">Add a new Campground!</a>
</div>
        
<% include partials/footer %>